.card-img-top {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

img {
  vertical-align: middle;
  border-style: none;
}

.card{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
}
