<div>
  <button type="button" class="btn btn-primary" (click)="goBack()">
    <span style="margin-right:20px" class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span> Back
  </button>
</div>
<hr>
<div *ngIf="commodity" class="container">
  <div class="row">
        <div class="col-xs-5" style="border:0px solid gray">
      <!-- Datos del vendedor y titulo del producto -->
      <h3>{{commodity.product}}</h3>
      <h5 style="color:#337ab7">From <a href="#">{{notification.data.user_id}}</a> ·
        <small style="color:#337ab7">({{commodity.quantity}} {{commodity.metric}})</small>
      </h5>

      <!-- Precios -->
      <h6 class="title-price">
        <small>Price</small>
      </h6>
      <h3 style="margin-top:0px;">ZMK {{commodity.price}}</h3>

      <!-- Detalles especificos del producto -->
      <div class="section">
        <h6 class="title-attr" style="margin-top:15px;">
          <small>TOWN/CITY</small>
        </h6>
        <div>
          <div class="attr">{{commodity.town}}</div>
        </div>
      </div>
      <div class="section" style="padding-bottom:5px;">
        <h6 class="title-attr">
          <small>PROVINCE/STATE</small>
        </h6>
        <div>
          <div class="attr2">{{commodity.province}}</div>
        </div>
      </div>
      <div class="section" style="padding-bottom:20px;">
        <h6 class="title-attr">
          <small>COUNTRY</small>
        </h6>
        <div>
          <div class="attr2">{{commodity.country}}</div>
        </div>
      </div>
      <div *ngIf="authService.loggedIn()" class="section">
        <form role="form" #f="ngForm" (ngSubmit)="onNotify(f)">
          <div class="form-group">
          <textarea name="message" id="message" class="form-control" rows="3" cols="4" ngModel
                    placeholder="Enter Your Message Here (Optional)"></textarea>
          </div>
          <input type="hidden" id="recipient" name="recipient" ngModel="{{notification.data.user_id}}">
          <!-- Botones de compra -->
          <div class="section" style="padding-bottom:20px;">
            <button class="btn btn-success" type="submit">
              <span style="margin-right:20px" class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Notify
            </button>
          </div>
        </form>
      </div>

      <div class="col-xs-9">
        <ul class="menu-items">
          <li class="active">Description</li>
        </ul>
        <div style="width:100%;border-top:1px solid silver">
          <p style="padding:15px;">
            <small>
              {{commodity.description}}
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

