<div id="app">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <a href="#" [routerLink] = "['/']">Dashboard</a> |
        <a href="#" [routerLink] = "['/new-commodity']">Add a new commodity</a> |
        <a href="#" [routerLink] = "['/register']">Register</a> |
        <a href="#" [routerLink] = "['/login']">Login</a>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
</div>
